coooooode/fizzbuzz.py
coooooode/input_function.py
coooooode/matrix_output.txt
coooooode/pyside.py
coooooode/smthn.py
coooooode/test_1.py
coooooode/test.png
coooooode/test.py
coooooode/testing.py
coooooode/__pycache__/matplotlib.cpython-312.pyc
test.py
RGA-Spectrum-Analyzer-2.1.0
